<div class='row'>
  <h2 style="padding-left: 10%; padding-bottom: 1%;">Update Politician Page</h2>
  <div class="small-7 columns end">
    <%= form_for @politician do |f| %>
      <%= f.label :first_name, 'First Name' %>
      <%= f.text_field :first_name, id: "First Name", label: false,
        value: @politician.first_name %>
      <%= f.label :last_name, 'Last Name' %>
      <%= f.text_field :last_name, id: "Last Name", label: false,
        value: @politician.last_name %>
      <%= f.label :political_party, 'Political Party' %>
      <%= f.text_field :political_party, id: "Political Party", label: false,
        value: @politician.political_party %>
      <%= f.label :place_of_birth, 'Place of Birth' %>
      <%= f.text_field :place_of_birth, id: "Place of Birth", label: false,
        value: @politician.place_of_birth %>
      <%= f.label :birthday, 'Birthday' %>
      <%= f.text_field :birthday, id: "Birthday", label: false,
        value: @politician.birthday %>
      <%= f.label :stance, 'Stance' %>
      <%= f.text_area :stance, id: "Stance", label: false,
        value: @politician.stance, style: "padding-bottom: 100px;" %>

      <%= f.submit "Update Politician",
        style: "background-color: #c99e10;" %>
    <% end %>
  </div>
</div>
