<div class="column small-12">
  <h1><%= @politician.full_name %> Show Page</h1>
  <div class="row">
    <div class="small-2 columns politician-info">
      <%= @politician.political_party %>
    </div>
    <div class="small-3 columns politician-info">
      Birthplace: <%= @politician.place_of_birth %>
    </div>
    <div class="small-3 columns end politician-info">
      Birthday: <%= @politician.birthday %>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns politician-info">
      Stance: <%= @politician.stance %>
    </div>
  </div>

  <h3>Comments for this Politician</h3>
  <div class="row">
    <p class="small-2 columns">User</p>
    <p class="comments small-5 columns">Comment</p>
    <p class="small-1 columns end">Rating</p>
    <p class="small-1 columns end">Vote</p>
  </div>

  <% @comments.each do |comment| %>
    <div class="row" id="comment-id-<%= comment.id %>">
      <p class="small-2 columns"><%= comment.user.full_name %></p>
      <div class="comments small-5 columns">
        <% if comment.body != '' %>
          <%= comment.body %>
        <% else %>
          <p>(No comment)</p>
        <% end %>
      </div>
      <p class="small-1 columns"><%= comment.rating %></p>
      <div class="small-1 columns voter end">
        <%= hidden_field(:comment, :id, value: comment.id) %>
        <div class="arrow-up upvoter" id="upvote">
          <%= image_tag 'up_arrow.png' %>
        </div>
        <p><%= @downvotes %></p>
        <div class="arrow-down downvoter" id="downvote">
          <%= image_tag 'down_arrow.png' %>
        </div>
        <p><%= @downvotes %></p>
      </div>

      <% if !(current_user.nil?) %>
        <% if comment.comment_owner?(current_user) || current_user.role == 'admin' %>
          <div class="small-1 columns">
            <%= link_to 'Edit Comment',
              edit_politician_comment_path(@politician, comment), class: 'button',
              id: "edit-comment-#{comment.id}"%>
          </div>
          <div class="small-1 columns end">
            <%= link_to "Delete Comment",
              politician_comment_path(@politician, comment), class: 'button',
              method: :delete, data: {confirm: "Definitely delete this comment?"},
              id: "delete-comment-#{comment.id}" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= render partial: 'new_comment_form', object: @comment %>
  <%= javascript_include_tag "comments_votes.js" %>
</div>
