<div class='row'>
  <div class="columns small-12">
    <%= hidden_field( :politician, :id, value: @politician.id ) %>
    <div class='row'>
      <h1><%= @politician.full_name %> Show Page</h1>
      <h5>
        <% if !current_user.nil? %>
          <% if @politician.owner?(current_user) || current_user.
            try(:admin?) || (current_user.politician? && current_user.id == @politician.actually_them) %>
            <div class='row' style='padding-left: 2%;'>
              <%= button_to 'Edit', edit_politician_path(@politician),
                class: 'button small-1 columns', method: :get %>
              <%= button_to 'Delete', @politician, method: :delete,
                data: { confirm: "Really wanna delete this politician?" },
                class: 'button small-1 columns end' %>
            </div>
          <% end %>
        <% end %>
      </h5>
    </div>
    <div class="row">
      <div class="small-2 columns politician-info">
        Party: <%= @politician.political_party %>
      </div>
      <div class="small-3 columns politician-info">
        Birthplace: <%= @politician.place_of_birth %>
      </div>
      <div class="small-3 columns end politician-info">
        Birthday: <%= @politician.birthday %>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns politician-info">
        Stance: <%= @politician.stance %>
      </div>
    </div>

    <h3>Comments for this Politician</h3>
    <div class="row">
      <p class="small-2 columns">User</p>
      <p class="comments small-5 columns">Comment</p>
      <p class="small-1 columns end">Rating</p>
      <p class="small-2 columns end" style="padding-left: 4%;">Votes</p>
    </div>

    <div class="all-comments">
      <% @comments.each_with_index do |comment, index| %>
        <div class="row" id="comment-id-<%= comment.id %>">
          <p class="small-2 columns"><%= comment.user.full_name %></p>
          <div class="comments small-5 columns">
            <% if comment.body != '' %>
              <%= comment.body %>
            <% else %>
              <p>(No comment)</p>
            <% end %>
          </div>
          <p class="small-1 columns"><%= comment.rating %></p>

          <div class="small-1 columns voter end">
            <%= hidden_field(:comment, :id, value: comment.id) %>
            <div class="arrow-up" id="upvote">
              <%= image_tag 'up_arrow.png' %>
            </div>
            <div class="arrow-down" id="downvote">
              <%= image_tag 'down_arrow.png' %>
            </div>
          </div>
          <div class="small-1 columns end vote-numbers">
            <p class="upper-<%= comment.id %>" style="position: relative; top: 0; left: 0;">
              <%= @upvotes[index] %>
            </p>
            <p class="downer-<%= comment.id %>" style="position: relative; top: 0; left: 0;">
              <%= @downvotes[index] %>
            </p>
          </div>

          <% if !(current_user.nil?) %>
            <% if comment.comment_owner?(current_user) || current_user.role == 'admin' %>
              <div class="small-1 columns">
                <%= link_to 'Edit',
                  edit_politician_comment_path(@politician, comment), class: 'button',
                  id: "edit-comment-#{comment.id}"%>
              </div>
              <div class="small-1 columns end" style="padding-right: 2%;">
                <%= link_to 'Delete',
                  politician_comment_path(@politician, comment), class: 'button',
                  method: :delete, data: {confirm: "Definitely delete this comment?"},
                  id: "delete-comment-#{comment.id}" %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= render partial: 'new_comment_form', object: @comment %>
    <%= javascript_include_tag "comments_votes.js" %>
    <%= javascript_include_tag "comments.js" %>
  </div>
</div>
