<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Politick" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Roboto'
      rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="flash-headers">
      <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
      <% end %>
    </div>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <%= render partial: "navigation_bar" %>
        <ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <%= render partial: "navigation_bar_right" %>
        <ul>
      </div>
    </div>

    <div class="row column">
      <%= yield %>
    </div>
  </body>

  <div class="row" id="bottom-bar">
    <p style="text-align:center; padding-top: 20px">
       • Designed by Student of Launch Academy •  • © 2016 •
    </p>
  </div>

</html>
