<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png"
      href="http://www.clubpenguinwiki.info/static/images/www/e/eb/United_States_flag.png"
    />
    <title><%= content_for?(:title) ? yield(:title) : "politick" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Roboto'
      rel='stylesheet' type='text/css'>
  </head>

  <body>
    <% if flash.present? %>
      <div class="flash-headers" style="padding: 10px;">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
        <% end %>
      </div>
    <% end %>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <%= render partial: "navigation_bar" %>
        <ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <%= render partial: "navigation_bar_right" %>
        <ul>
      </div>
    </div>

    <%= yield %>

  </body>

  <div class="footer" id="bottom-bar">
    <p style="text-align:center; padding-top: 20px">
      • Website Designed by a Student of Launch Academy •  • © 2016 •
    </p>
  </div>

</html>
